[run]
omit =
    dashboard.py
    run.py
    api/server.py
    eval/*
    tests/*
    venv/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
show_missing = true
fail_under = 90
